* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #003399;
    padding: 15px 20px;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1000; /* Ensure it stays on top of other elements */
    /* background-color: #fff; Optional: Keep background color to ensure visibility */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Optional: Add shadow for better visibility */
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    height: 40px;
    margin-right: 10px;
}

.brand-name {
    font-size: 24px;
    font-weight: bold;
}

.search-container {
    display: flex;
    align-items: center;
    width: 40%;
}

.search-input {
    position: relative;
    left: -350px;
    width: 100%;
    padding: 8px;
    border: 2px solid #003399;
    border-radius: 3px;
}

.search-button {
    /* background-color: #003399; */
    border: none;
    cursor: pointer;
    /* padding: 5px; */
    margin-left: 5px;
    position: relative;
    left: -379px;
    

}

.search-icon {
    width: 20px;
    height: 20px;
}

.login-container {
    display: flex;
    align-items: center;
}